@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	html {
		@apply antialiased;
	}
}



@layer base {
	h1, 
	h2, 
	h3, 
	h4, 
	h5, 
	h6, 
	p {

	}


	h1 {
		@apply 
		text-6xl
		font-interstate
		tracking-tight
		leading-none
		; 
	}

	h2 {
		@apply 
		text-5xl; 
	}

	h4 {
		@apply 
		text-black 
		text-xl 
		font-bold 
		leading-7
		; 
	}


	h5 {
		@apply 
		text-stone-900
		text-xl
		font-bold
		leading-normal
		; 
	}




	p {
		@apply 
		text-stone-500
		leading-normal
		text-base; 

	}

}


@layer components {
	
	.btn {
		@apply 
		bg-neutral-800 
		text-stone-100
		p-4 
		font-bold
		border-2
		border-neutral-800
		rounded-md 
		justify-center 
		items-center 
		inline-flex
		leading-none 
		rounded-md
		text-sm
		transition 
		duration-300
		ease-in-out 
		cursor-pointer
		;
	}

	.btn {
		@apply
		hover:border-stone-300
		hover:bg-white
		hover:text-neutral-800;
		;
	}


	.btn_add_cart {
		@apply
		w-full 
		px-20 
		py-3.5 
		bg-neutral-800 
		border-2
		border-neutral-800
		rounded-md 
		justify-center 
		items-center 
		inline-flex
		hover:bg-cream
		hover:text-neutral-800
		hover:border-2
		hover:border-neutral-800
		text-white 
		text-lg 
		font-bold 
		whitespace-nowrap
		duration-300
		ease-in-out 
		hover:duration-300
		hover:ease-in-out 
		cursor-pointer
		;
	}



	.btn_add_cart_sm {
		@apply
		w-28 h-10 
		px-3.5 
		py-2.5 
		bg-neutral-800 
		rounded-md 
		justify-center 
		items-center 
		gap-2.5 
		inline-flex
		hover:bg-white
		hover:text-neutral-800
		hover:border-2
		hover:border-neutral-800
		text-white 
		text-base 
		font-bold 
		whitespace-nowrap
		duration-300
		ease-in-out 
		hover:duration-300
		hover:ease-in-out 
		cursor-pointer
		;
	}





	.btn_small {
		@apply 
		px-2.5 
		py-1.5 
		rounded 
		border 
		border-stone-500 
		border-2
		justify-center 
		items-center 
		text-stone-100 
		lg:text-base
		text-sm 
		leading-tight 
		font-medium
		transition 
		duration-300
		ease-in-out 
		hover:bg-stone-500;

	}


	.easy {
		@apply
		duration-300
		ease-in-out 
		hover:duration-300
		hover:ease-in-out 
		cursor-pointer

		;
	}




}




@layer components {
	/* Define a component that shows the current breakpoint */
	.breakpoint-indicator {
		@apply fixed bottom-0 right-0 z-50 p-5 text-lg bg-gray-900 text-white;
	}

	/* Define how the content changes at each breakpoint */
	@media (min-width: theme('screens.sm')) {
		.breakpoint-indicator::after {
			content: 'SM';
		}
	}
	@media (min-width: theme('screens.md')) {
		.breakpoint-indicator::after {
			content: 'MD';
		}
	}
	@media (min-width: theme('screens.lg')) {
		.breakpoint-indicator::after {
			content: 'LG';
		}
	}
	@media (min-width: theme('screens.xl')) {
		.breakpoint-indicator::after {
			content: 'XL';
		}
	}
	@media (min-width: theme('screens.2xl')) {
		.breakpoint-indicator::after {
			content: '2XL';
		}
	}
}


